@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
::selection{
  background-color: #339392;;
  color: white;

}
.chat_container {
    width: 50%;
    color: #CCCCCC;
    font-size: 1.3rem;
    margin-bottom: 15px;
    margin: auto;
}
.system_response_container{
  display:flex;
  width: 65%;
  border-radius: 20px;
  border:none;  
  margin-top: 25px;
  margin-bottom:15px;
  padding: 10px 10px;
  background-color: #4a4a4a;
  position: relative;
}
.system_response{
    width: 95%;
    word-wrap: break-word;
    color:#CCCCCC;
 font-size: 1.2rem;
 animation-duration: 200ms;
 white-space: break-spaces;
 font-family: "Poppins", sans-serif;
 font-weight: 300;
 transition: all 0.5s ease-in-out;
}
.iconcopycontainer{
  width: 5%;
  position: absolute;
  right: 7px;
  top: 2px;
  z-index: 1;
  cursor: pointer;
  fill:#818181;
 
}
.iconcopycontainer:hover{
  fill:#317e7d;
}
.iconcopycontainer img{
  width:85%;
  
}
.user_prompt{
    border-radius: 20px;
    border: none;
    background-color: #317e7d;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    padding: 10px 10px; 
    background-color:#317e7d;
    width: 65%;
   margin-left: 35%;
    word-wrap: break-word;
    color:#cccccc;
 font-size: 1.2rem;
 position: relative;  
 font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 880px){

    .chat_container{
        width: 80%;
    }
    }
   
    @keyframes skeleton-loading {
        0% {
          background-position: -200px 0;
        }
        100% {
          background-position: calc(100px + 100%) 0;
        }
      }
      .skeleton_container{
        width: 50%;
        margin:auto;
      }
      .skeleton-30{
        animation: skeleton-loading 1.5s infinite linear;
        margin-top: 30px;
        background-size: 800px 104px;
        background-color:#4a4a4a;
        height: 20px;
        width: 20%;
        border-radius: 20px;
      }
      .skeleton-50 {
        animation: skeleton-loading 1.5s infinite linear;
        background-size: 800px 104px;
        background-color: #4a4a4a;
        height: 20px;
        width: 50%;
        border-radius: 20px;
      }
      .skeleton-100{
        animation: skeleton-loading 1.5s infinite linear;
        background-size: 800px 104px;
        background-color:#4a4a4a;
        height: 20px;
        width: 70%;
        border-radius: 20px;
      }
      @keyframes pulse {
        50% {
          opacity: 0.5;
        }
      }
      .animate-pulse{
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      }
      @media (max-width: 454px){

        .chat_container{
            width: 100%;
        }
        .system_response_container{
            width: 98%;
            margin:auto;
            margin-top:20px;
            margin-bottom:20px;
          }
        .user_prompt{
            width: 98%;
            margin:auto;
            margin-top:20px ;
            margin-bottom: 20px;

            }
            .skeleton_container{
              width: 98%;
              margin:auto;

            
          }
    }