.loadercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.loader{
    -webkit-perspective:700px ;
    perspective: 700px;
}
.loader>span{
    font-size: 8rem;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    animation: flip 2.6s infinite linear;
    transform-origin: 0 70%;
    transform-style:preserve-3d ;
    -webkit-transform-style:preserve-3d ;
}
@keyframes flip{
    35%{
        transform: rotateX(360deg);
    }
    100%{
        transform: rotateX(360deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.loader>span:nth-child(even){
    color:   #339391fa;
}
.loader>span:nth-child(odd){
    color: rgba(255, 255, 255, 0.5);
}
.loader>span:nth-child(2){
    animation-delay: 0.3s;
}
.loader>span:nth-child(3){
    animation-delay: 0.6s;
}
.loader>span:nth-child(4){
    animation-delay: 0.9s;
}
.loader>span:nth-child(5){
    animation-delay: 1.2s;
}
.loader>span:nth-child(6){
    animation-delay: 1.5s;
}
.loader>span:nth-child(7){
    animation-delay: 1.8s;
}
.page_container{
    margin-top: 50px;

}
@media (max-width: 670px) {
    .loader>span {
        font-size: 4rem;
    }
}
.col{
    color:white;
}
.mainlogincontainer{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1{
    background-color:#282828;
    width: 50%;
 
    border-radius: 30px;
    padding:35px ;
    background-color:#424242;
    
}
/* .login_container{
    height: fit-content;
    width: 45%;
    margin: auto;
    border-radius: 30px;
    padding:35px ;
    background-color:#424242;
} */
.logo_container{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    width: 20%;
    font-size: 1.1rem;
    width: 92%;
    margin: auto;
    padding: 0;
}
.name1{
    margin: 0;
    align-self: center;
    color: white;
    font-family: "popins", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    
}
.name1>span:nth-child(1){
    color: #339391;
}
.name1>span:nth-child(2){
    color: #339391;
}
.name1>span:nth-child(3){
    color: #339391;
}
.name1>span:nth-child(5){
    color: #339391;
}

.content_Container{
    
    
display: flex;
width: 92%;
margin: auto;
padding-left: 2%;
margin-top: 50px;
justify-content: space-around;
align-items: flex-start;
}
.text_container{
    width: 40%;
}
.first_para1{
    font-size: 2.2rem;
    font-weight: 450;
    color:white;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}
.second_para2{
    font-size:1.1rem;
    color: white;
}
.form_container{
    width:60%;
}
.buttons_container{
   
    display: flex;
    width:92%;
    margin: auto;
    justify-content: flex-end;
    justify-items: center;
    margin-top: 30px;
}
.truebuttons_container{
    display:flex;
    width: 25%;
    white-space: nowrap;
    justify-content: space-between;
}
.existing_text{
    align-self: center;
    color:#339391;
    font-size:1.1rem;
    
}
.existing_text:hover{
    cursor:pointer;
    color:#339391a9;
    
}

    .errormessage {
        margin-bottom: 5px;
        border-radius: 20px;
        background-color: #f8d7da; /* Light red background color */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        font-size: 1rem;
      }
    