<div class="loadercontainer" *ngIf="loading">
    <div class="loader">
        <span>D</span>
        <span>R</span>
        <span>A</span>
        <span>C</span>
        <span>O</span>
        <span>D</span>
        <span>A</span>
    </div>
</div>
<div class="" *ngIf="!loading">
    <app-navbar></app-navbar>
    <section class="slider_section page_container">
        <div id="customCarousel1" class="carousel slide" >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-6 ">
                    <div class="detail-box">
                      <h1>
                        DRACODA <br>
            
                      </h1>
                      <p>
                        Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="../../assets/images/lOGO_TRANSPARENT2.svg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
      <!-- end slider section -->
        </div>
    </section>
  
    <section class="service_section layout_padding">
      <div class="service_container">
        <div class="container ">
          <div class="heading_container heading_center">
            <h2 style="color:rgba(255, 255, 255, 0.582)">
              Our <span>Features</span>
            </h2>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            </p>
          </div>
          <div class="row">
            <div class="col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img src="../../assets/images/unit-testing.svg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Generate unit testing code
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.


                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img src="../../assets/images/brackets-curly.svg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Generate javascript code
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img src="images/s3.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    ay7agaaaaaaaaaaaaaaaa
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div (click)="handleopenmainpage()" class="btn-box">
            <a>
              Lets Try It 
            </a>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end service section -->
  
  
    <!-- about section -->
  
    <section class="about_section layout_padding">
      <div class="container  ">
        <div class="heading_container heading_center">
          <h2>
            About <span>Us</span>
          </h2>
          <p>
            Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="../../assets/images/WhatsApp Image 2024-05-26 at 9.38.35 PM.jpeg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h3>
                We Are 4 students in Cairo university
              </h3>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                the middle of text. All
              </p>
              <p>
                Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end about section -->
  
  
    

    <!-- team section -->
    <section class="team_section layout_padding">
      <div class="container-fluid">
        <div class="heading_container heading_center">
          <h2 class="">
            Our <span> Team</span>
          </h2>
        </div>
  
        <div class="team_container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-1.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Donia Remah
                  </h5>
                  <p>
                    Machine learning Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-2.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Abdelrahman Sayed
                  </h5>
                  <p>
                    Machine learning Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-3.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Ola Ahmed
                  </h5>
                  <p>
                    NLP Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-4.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Rana Moataz
                  </h5>
                  <p>
                    NLP Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end team section -->
  
    <!-- info section -->
  
   
</div>
