<div class="loadercontainer" *ngIf="loading">
    <div class="loader">
        <span>D</span>
        <span>R</span>
        <span>A</span>
        <span>C</span>
        <span>O</span>
        <span>D</span>
        <span>A</span>
    </div>
</div>
<div class="" *ngIf="!loading">
    <app-navbar></app-navbar>
    <section class="slider_section page_container">
        <div id="customCarousel1" class="carousel slide" >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-6 ">
                    <div class="detail-box">
                      <h1>
                        DRACODA <br>
            
                      </h1>
                      <p>
                        is a free-to-use ChatBot. Use it for generating Javascript code whether it is function or test script. It is here to help you catch deadlines and make your life easier !!
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="../../assets/images/lOGO_TRANSPARENT2.svg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
      <!-- end slider section -->
        </div>
    </section>
  
    <section class="service_section layout_padding">
      <div class="service_container">
        <div class="container ">
          <div class="heading_container heading_center">
            <h2 style="color:rgba(255, 255, 255, 0.582)">
              Our <span>Features</span>
            </h2>
            <p>
              Discover what Dracoda can do for you with its helpful tools and features, designed to make coding in JavaScript easier and your projects more reliable
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="box ">
                <div class="img-box">
                  <img src="../../assets/images/unit-testing.svg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Generate unit testing code
                  </h5>
                  <p>
                    Dracoda creates a program that automatically writes testing code in JavaScript using Jest. This testing code helps ensure that your JavaScript code works correctly by running small tests to check individual parts, like functions or modules. It not only saves time and effort but also enhances the reliability and stability of JavaScript applications.


                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box ">
                <div class="img-box">
                  <img src="../../assets/images/brackets-curly.svg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Generate javascript code
                  </h5>
                  <p>
                    Dracoda writes JavaScript functions for you. This tool will save you time and effort by automatically generating the code you need. You just tell it what you want the function to do, and it crafts the JavaScript code accordingly. It's like having a personal assistant for coding tasks specially boilerplate code, making your job easier and faster.

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div (click)="handleopenmainpage()" class="btn-box">
            <a>
              Lets Try It 
            </a>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end service section -->
  
  
    <!-- about section -->
  
    <section class="about_section layout_padding">
      <div class="container  ">
        <div class="heading_container heading_center">
          <h2>
            About <span>Us</span>
          </h2>
          <p>
            Get to know us at Dracoda, a group dedicated to making coding accessible and enjoyable for everyone, through innovative solutions and a commitment to user satisfaction.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="../../assets/images/WhatsApp Image 2024-05-26 at 9.38.35 PM.jpeg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h3>
                We Are 4 students in Cairo university
              </h3>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                the middle of text. All
              </p>
              <p>
                Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end about section -->
  
  
    

    <!-- team section -->
    <section class="team_section layout_padding">
      <div class="container-fluid">
        <div class="heading_container heading_center">
          <h2 class="">
            Our <span> Team</span>
          </h2>
        </div>
  
        <div class="team_container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-1.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Donia Remah
                  </h5>
                  <p>
                    Machine learning Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-2.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Abdelrahman Sayed
                  </h5>
                  <p>
                    Machine learning Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-3.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Ola Ahmed
                  </h5>
                  <p>
                    NLP Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="img-box">
                  <img src="images/team-4.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Rana Moataz
                  </h5>
                  <p>
                    NLP Head
                  </p>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end team section -->
  
    <!-- info section -->
  
   
</div>
